


.headerAndNavigation {
    display: flex;
    flex-direction: column;
}


.header {
    max-width: 100%;
    background-color: #0F0F0F;
    padding: 16px 24px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}


.headerSearchContainer {
    max-width: 732px;
    width: 100%;
    // display: flex;
    // justify-content: space-between;
    // align-items: center;
    position: relative;

}



@media screen and (min-width:600px) and (max-width:1023px) {
    .logOut {
        display: none;
    }
}
 

