@import "../../styles/colors.scss";

.headerContainer {
    display: flex;
    justify-content: space-between;
    background-color: $PrimaryBlackTone1;
    padding: 12px 24px;
    align-items: center;
    width: 100%;
}

.headerSearchContainer {
    display: flex;
    justify-content: space-between;
    max-width: 732px;
    width: 100%;
    align-items: center;
}

.searchContainer {
    position: relative;
    max-width: 434px;
    width: 100%;
    height: 40px;
}


@media screen and (min-width:600px) and (max-width:1023px) {
    .headerLogOut {
        display: none;
    }

    .NavMobile {
        display: none;
    }
}

@media screen and (max-width:599px) {
    .NavDesktop {
        display: none;
    }
}

@media screen and (min-width:1024px) {
    .headerNavigation {
        display: none;
    }

    .NavDesktopCont {
        display: none;
    }
    .NavDesktop {
        display: none;
    }
}