$PrimaryBlackTone1: #0F0F0F;
$PrimaryBlackTone2: #121212;
$PrimaryBlackTone3: #161616;
$PrimaryBlackTone4: #1E1E1E;
$PrimaryBlackTone5: #232323;
$PrimaryBlueTone1: #2F3355;
$PrimaryBlueTone2: #5141BF;
$PrimaryBlueTone3: #5E4BE2;
$PrimaryGreyTone1: #AAA;
$PrimaryGreyTone2: #ABABAB;
$PrimaryGreyHover: rgba(138, 138, 138, 0.13);
$PrimaryGreyHoverTone1: #252525;
$PrimaryWhite: #FFF;
$PrimaryWhiteTone1: rgba(255, 255, 255, 0.64);
