$PrimaryBlackTone1: #0f0f0f;
$PrimaryBlackTone2: #121212;
$PrimaryBlackTone3: #161616;
$PrimaryBlackTone4: #1e1e1e;
$PrimaryBlackTone5: #232323;
$PrimaryBlueTone1: #2f3355;
$PrimaryBlueTone2: #5141bf;
$PrimaryBlueTone3: #5e4be2;
$PrimaryGreyTone1: #aaa;
$PrimaryGreyTone2: #ababab;
$PrimaryGreytone3: #636363;
$PrimaryGreyHover: rgba(138, 138, 138, 0.13);
$PrimaryGreyHoverTone1: #252525;
$PrimaryWhite: #fff;
$PrimaryWhiteTone1: rgba(255, 255, 255, 0.64);
$PrimaryRed: #f80c0c;
