@import '../../../../styles/colors.scss';

.tabletPlayer {
    width: 100%;
    display: flex;
    align-items: flex-end;
    bottom: 0;
    position: relative;
}

.tabletPlayerContainer {
    background-color: $PrimaryBlackTone1;
    width: 100%;
    padding: 16px 0px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 46px;
}

.inputAndSwitch {
    display: flex;
    flex-direction: column;
    max-width: 361px;
    width: 100%;
}

.tabletMuscName {
    max-width: 201px;
    width: 100%;
}

.volumAndSwitch {
    display: flex;
    justify-content: space-between;
}
