


.TabletFullScreen {
    background: linear-gradient(180deg, #1F485F 0%, #121522 100%);
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    position: absolute;
    top: 0;
    left: 0;
}

.imageAndName {
    display: flex;
    flex-direction: column;
    gap: 14px;
}

.tabletFullscreenPadd {
    padding: 40px 24px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
}

.musicList{
    width: 100%;
}


.musicListContainer {
    position: relative;
    width: 100%;
    height: 100%;
}


.inputRangeCont {
    max-width: 535px;
    width: 100%;
    text-align: right;
}
