


.playerSmall {
    background-color: #0F0F0F;
    max-width: 278px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 24px;
    gap: 8px;
}


.musicPlayer {
    max-width: 230px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 25px;
}


.nameAndRange {
    display: flex;
    flex-direction: column;
    gap: 12px;
}