@import '../../../styles//colors.scss';

.searchAndMapText {
    color: $PrimaryWhite;
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.searchAndMapText2 {
    color: $PrimaryWhite;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.mapContainer {
    display: flex;
    gap: 8px;
    max-width: 402px;
    padding: 8px;
    width: 100%;
    align-items: center;
    cursor: pointer;
    padding: 8px 4px;
}   
.round {
    border-radius: 24px;
}

.square {
    border-radius: 24px;
}

.textContainer {
    display: flex;
    flex-direction: column;
    gap: 2px;
}

@media screen and (min-width: 1024px) {
    .mapContainer:hover {
        background-color: $PrimaryGreyHover;
        border-radius: 8px;
        padding: 8px 4px;
    }
}
