@import '../../styles/colors.scss';

.container {
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.containerInside {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

.title {
    color: $PrimaryWhite;
    font-size: 20px;
    font-weight: 500;
}