@import '../../styles/colors.scss';

.container {
    display: flex;
    flex-direction: column;
    gap: 20px;
    height: 100%;
    overflow: auto;
}

.container::-webkit-scrollbar {
    display: none;
}

.containerInside {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 8px;
}

.title {
    color: $PrimaryWhite;
    font-size: 20px;
    font-weight: 500;
}

@media (max-width: 1023px) {
    .containerInside {
        grid-template-columns: 1fr;
    }
}

@media screen and (min-width: 1024px) and (max-width: 1240px) {
    .containerInside {
        grid-template-columns: 1fr;
    }
}
