@import "../../styles/colors.scss";

.container {
  background-color: $PrimaryBlackTone3;
  width: 100%;
  min-width: 160px;
  justify-content: center;
  align-items: center;
  border-radius: 16px;
  padding: 20px;
}

.image {
  width: 100%;
}

.container:hover {
  background-color: rgba(138, 138, 138, 0.13);
  transition: 1s;
}

.containerCenter {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.infoContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 8px;
}

.infoNumb {
  color: rgba(255, 255, 255, 0.64);
}

.imageContainer {
  display: flex;
  justify-content: center;
  align-items: center;
}
