@import "../../../styles/colors.scss";

.createdPlaylistContainer {
    padding: 12px 16px;
    background-color: $PrimaryBlackTone3;
    border-radius: 8px;
}

.createdPlaylist {
    max-width: 796px;
    width: 100%;
    display: flex;
    align-items: center;
    gap: 12px;
}

.icon {
    width: 48px;
    height: 48px;
    padding: 4px;
    background: rgba(147, 147, 147, 0.20);
    cursor: pointer;
}

.name {
    color: $PrimaryWhite;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}