.musicSwitch {
    display: flex;
    align-items: center;
    gap: 4px;
    justify-content: space-between;
    width: 100%;
}

.playPaus {
    display: flex;
}

.play {
    cursor: pointer;
}

.pause {
    cursor: pointer;
}
