@import "../styles/colors.scss";

<<<<<<< Updated upstream
=======
<<<<<<< Updated upstream
.headerAndNavigation {
    display: flex;
    background-color: $PrimaryBlackTone2;
}

=======
>>>>>>> Stashed changes

.headerAndNavigation {
    display: flex;
    background-color: $PrimaryBlackTone1;
}


<<<<<<< Updated upstream
=======
>>>>>>> Stashed changes
>>>>>>> Stashed changes
.header {
    width: 100%;
}

.navigation {
    max-width: 302px;
    width: 100%;
}

<<<<<<< Updated upstream
=======
<<<<<<< Updated upstream
.headerAndNav {
    display: flex;
}

.navMobile {
    display: flex;
    width: 100%;
}

@media screen and (min-width:1024px) {
    .navMobile {
        display: none;
    }
}
=======
>>>>>>> Stashed changes
>>>>>>> Stashed changes

@media screen and (min-width:600px) and (max-width:1023px) {
    .navigation {
        display: none;
    }
<<<<<<< Updated upstream
=======
<<<<<<< Updated upstream
    .navMobile {
        display: none;
    }
}

@media screen and (max-width:599px) {
    .navigation {
        display: none;
    }
=======
>>>>>>> Stashed changes
>>>>>>> Stashed changes
}