@import "../styles/colors.scss";


.headerAndNavigation {
    display: flex;
    background-color: $PrimaryBlackTone2;
}

.headerAndNavigation {
    display: flex;
    background-color: $PrimaryBlackTone1;
}

.header {
    width: 100%;
}

.headerAndChildren {
    display: flex;
    justify-content: space-between;
    background-color: #121212;
    padding: 20px;
}

.navigation {
    max-width: 302px;
    width: 100%;
}

.headerAndNav {
    display: flex;
}

.navMobile {
    display: flex;
    width: 100%;
    position: fixed;
    bottom: 0;
}

@media screen and (min-width:1024px) {
    .navMobile {
        display: none;
    }
}

@media screen and (min-width:600px) and (max-width:1023px) {
    .navigation {
        display: none;
    }

    .navMobile {
        display: none;
    }
}

@media screen and (max-width:599px) {
    .navigation {
        display: none;
    }
}