@import "../styles/colors.scss";

.test {
  background-color: $PrimaryBlackTone2;
  height: 100%;
}

@media screen and (min-width: 1024px) {
  .main {
    height: 100vh;
    overflow: auto;
  }
  .main::-webkit-scrollbar{
    display: none;
  }
}
