


.volumeRange {
    transform: rotate(-90deg);
    height: var(--borderRadius, 4px);
    width: 68px;
    position: absolute;
}

.volumeContainer {
    display: flex;
    align-items: center;
}

.volume {
    display: flex;
    align-items: center;
}