@import "../../styles/colors.scss";

.btnFill {
  padding: 14px;
  border: none;
  border-radius: 16px;
  background: var(--background, #0f0f0f);
  color: $PrimaryWhite;
  text-transform: capitalize;
  font-size: 16px;
  font-weight: 500;
  display: flex;
  justify-content: center;
  align-items: center;
  outline: none;
  width: 100%;

  &:hover {
    background: #232323;
  }
}

.btnText {
  width: 100%;
  border: none;
  text-transform: capitalize;
  background: none;
  border: none;
  color: $PrimaryBlueTone3;
  font-size: 16px;
  font-weight: 500;
  outline: none;
}

@media screen and (max-width:599px) {
  .btnFill{
    font-size: 14px;
  }
}