@import '../../styles/colors.scss';

.btnFill {
    padding: 14px 78px;
    border: none;
    border-radius: 16px;
    background: var(--background, #0F0F0F);
    color: $PrimaryWhite;
    text-transform: capitalize;
    font-size: 16px;
    font-weight: 500;
    display: flex;
    justify-content: center;
    align-items: center;
    outline: none;

    &:hover {
        background: #232323;
    }
}

.btnText {
    border: none;
    text-transform: capitalize;
    background: none;
    border: none;
    color: $PrimaryBlueTone3; 
    font-size: 16px;
    font-weight: 500;
    outline: none;
}