@import '../../styles/colors.scss';

.cardWrapper {
    border-radius: 8px;
    background-color: $PrimaryBlackTone3;
    width: 100%;
    height: 64px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 8px 16px;
}

.card {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.cardContent {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 16px;
}

.text {
    text-transform: capitalize;
}

.rounded {
    border-radius: 48px;
}

