@import '../../../styles/colors.scss';

.photoContainer {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 16px;
}

.OneAlbumByIdContainer {
    display: flex;
    flex-direction: column;
    gap: 24px;
    padding-bottom: 100px;
}

.musicCard {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 8px 20px;
}

.nameContainer {
    display: flex;
    flex-direction: column;
    gap: 4px;
    align-items: center;
}

.musicName {
    color: $PrimaryWhite;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.image {
    max-width: 208px;
    width: 100%;
}

.artistName {
    color: $PrimaryWhiteTone1;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

@media screen and (min-width: 599px) and (max-width: 1023px) {
    .musicCard {
        grid-template-columns: 1fr 1fr;
    }
}

@media screen and (min-width: 599px) and (max-width: 660px) {
    .musicCard {
        grid-template-columns: 1fr;
    }
}

@media screen and (max-width: 599px) {
    .musicCard {
        grid-template-columns: 1fr;
    }
}

@media screen and (min-width: 1024px) and (max-width: 1240px) {
    .musicCard {
        grid-template-columns: 1fr;
    }
}
