.OneChartById {
    display: flex;
    flex-direction: column;
    gap: 14px;
    height: 100%;
    overflow: auto;
}

.OneChartById::-webkit-scrollbar {
    display: none;
}

.pathColor {
    color: #fff;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.oneMusicCard {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 8px 20px;
}

@media screen and (min-width: 599px) and (max-width: 1023px) {
    .oneMusicCard {
        grid-template-columns: 1fr 1fr;
    }
}

@media screen and (min-width: 599px) and (max-width: 660px) {
    .oneMusicCard {
        grid-template-columns: 1fr;
    }
}

@media screen and (max-width: 599px) {
    .oneMusicCard {
        grid-template-columns: 1fr;
    }
}

@media screen and (min-width: 1024px) and (max-width: 1240px) {
    .oneMusicCardr {
        grid-template-columns: 1fr;
    }
}
