@import "../../../../styles/colors.scss";


.imageAndTitle {
    display: flex;
    flex-direction: column;
    gap: 12px;
    align-items: center;
    justify-content: center;
}


.title {
    color: #FFF;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.image {
    max-width: 230px;
    width: 100%;
}


// .fullScreenImage {
//     max-width: 344px;
//     max-height: 344px;
//     width: 100%;
// }

.fullScreentitle {
    color: #FFF;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}
