.fullScreenImage {
    text-align: center;
   padding-top: 20px;
}

.backButton {
    position: absolute;
    background: rgba(22, 22, 22, 0.27);
    border-radius: 8px;
}

.image {
    width: 100%;
}