@import "../../../styles/colors.scss";

.mobileContainer {
    width: 100%;
}

.color {
    color: $PrimaryWhite;
}

.colorPink {
    color: $PrimaryBlueTone3;
}

.navigationContainer {
    display: flex;
    justify-content: space-between;
    padding: 10px 16px;
    background-color: $PrimaryBlackTone1;
}