@import "../../../styles/colors.scss";


.mainNavigation {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.navigation {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.navigationContainer {
    max-width: 302px;
    width: 100%;
    background-color: $PrimaryBlackTone1;
    display: flex;
    flex-direction: column;
    gap: 10px;
    height: 100vh;
    padding: 0 24px;
    position: absolute;
    transform: translateX(100%);
    transition: transform 0.3s ease-in-out linear;
    visibility: hidden;
    z-index: 100;
}

.navigationContainer.open {
    transform: translateX(8%);
    visibility: visible;
    
}

.navigationBox {
    display: flex;
    gap: 10px;
    align-items: center;
    color: white;
    padding: 8px 16px;
    border-radius: 8px;
}

.navigationBox:hover {
    background-color: $PrimaryBlackTone3;
    transition: 1s;
}

.line {
    background-color: $PrimaryBlackTone1;
    max-width: 302px;
    width: fit-content;
    justify-content: flex-end;
}

.lineContainer {
    display: flex;
    justify-content: flex-end;
    max-width: 302px;
    width: 100%;
}

@media screen and (min-width:600px) and (max-width:1023px) {
    .navigationContainer {
        max-width: 302px;
        width: 100%;
        background-color: $PrimaryBlackTone1;
        display: flex;
        flex-direction: column;
        gap: 10px;
        height: 100vh;
        padding: 0 24px;
        position: absolute;
        transform: translateX(100%);
        transition: transform 0.3s ease-in-out;
        visibility: hidden;
        z-index: 100;
    }
}


@media screen and (min-width:1024px) {
    .lineContainer {
        display: none;

    }

    .navigationContainer {
        max-width: 302px;
        width: 100%;
        background-color: $PrimaryBlackTone1;
        display: flex;
        flex-direction: column;
        gap: 10px;
        height: 100vh;
        padding: 20px 24px;
        position: none;
        visibility: visible;
    }

    .navigationLine {
        display: none;
    }

    .line {
        display: none;
    }

    .mainNavigation {
        display: inline;
    }
}