* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  height: 100vh;
}
h1 {
  color: #FFF;
  font-size: 96px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

h2 {
  color: #FFF;
  font-size: 48px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

h3 {
  color: #FFF;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

h4 {
  color: #FFF;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}


h5 {
  color: #FFF;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

h6 {
  color: #FFF;
  font-size: 12px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

a {
  text-decoration: none;
}