@import '../../styles/colors.scss';

.container {
    display: flex;
    flex-direction: column;
    gap: 12px;
    height: 100%;
}

.container::-webkit-scrollbar {
    display: none;
}

.title {
    color: $PrimaryWhite;
    font-size: 20px;
    font-weight: 500;
}

.list {
    display: flex;
    flex-direction: column;
    gap: 8px;
    padding-bottom: 50px;
}

@media screen and (max-width: 599px) {
    .list {
        padding-bottom: 170px;
    }
}
@media screen and (min-width: 599px) and (max-width: 1023px) {
    .list {
        padding-bottom: 170px;
    }
}
