.autor {
    color: #FFF;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.name {
    color: #636363;
    font-size: 12px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.nameContainer {
    display: flex;
    flex-direction: column;
}