@import "../../styles/colors.scss";

.container {
    padding: 20px;
    border-radius: 16px;
    background: $PrimaryBlackTone3;
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.image {
    width: 100%;
}

.container:hover {
    background-color: $PrimaryGreyHover;
    transition: 1s;
}

.coverContainer {
    border-radius: 12px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.albumText {
    color: rgba(255, 255, 255, 0.64);
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    text-transform: capitalize;
}

.infoContainer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-transform: capitalize;
}

.artistName {
    color: rgba(255, 255, 255, 0.64);
    font-size: 14px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    text-transform: capitalize;
}


@media screen and (max-width: 1334px) {
    .albumName {
        font-size: 8px;
    }

    .albumText {
        font-size: 8px;
    }

    .artistName {
        font-size: 8px;
    }
}

