@import '../../styles/colors.scss';

.container {
    background-color: $PrimaryBlackTone2;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.title {
    color: $PrimaryWhite;
    font-size: 20px;
    font-weight: 500;
}

.list {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 5px;
}

@media screen and (min-width: 360px) and (max-width: 599px) {
    .list {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 5px;
    }

    .container {
        padding: 0px;
    }
}

@media screen and (min-width: 600px) and (max-width: 1023px) {
    .list {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        gap: 5px;
    }

    .container {
        padding: 0px;
    }
}


@media screen and (min-width: 1024px) {
    .list {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        gap: 5px;
    } 

    .container {
        padding: 0px;
    }
}