@import "../../../styles/colors.scss";

.navigationPink {
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 8px 16px;
    border-radius: 8px;
    color: white;
    cursor: pointer;
}

.navigationPink:hover{
    background-color: $PrimaryBlackTone5;
}


