.container {
    display: flex;
    flex-direction: column;
    height: 100%;
    overflow: auto;
    padding-bottom: 50px;
}

.container::-webkit-scrollbar {
    display: none;
}

.pathName {
    color: #fff;
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

.musicCard {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 8px 20px;
    padding-top: 30px;
}

.cardAndbiografi {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.albumContainer {
    display: flex;
    flex-direction: column;
    gap: 12px;
    padding-top: 32px;
}

.albumsCont {
    color: #fff;
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.albumMapContainer {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 8px 20px;
}

@media screen and (max-width: 599px) {
    .albumMapContainer {
        grid-template-columns: 1fr 1fr;
    }
    .musicCard {
        grid-template-columns: 1fr;
    }
    .container {
        padding-bottom: 170px;
    }
}

@media screen and (min-width: 600px) and (max-width: 1023px) {
    .albumMapContainer {
        grid-template-columns: 1fr 1fr 1fr;
    }
    .musicCard {
        grid-template-columns: 1fr 1fr;
    }
    .albumContainer {
        padding-bottom: 170px;
    }
}
@media screen and (min-width: 599px) and (max-width: 660px) {
    .musicCard {
        grid-template-columns: 1fr;
    }
}

@media screen and (min-width: 1024px) and (max-width: 1240px) {
    .musicCard {
        grid-template-columns: 1fr;
    }
}
