.volumeContainer {
    display: flex;
    align-items: center;
}

.volume {
    display: flex;
    align-items: center;
}

.Involved {
    cursor: pointer;
}

.Volume {
    cursor: pointer;
}

.Muted {
    cursor: pointer;
}
