.playlistContainer {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.photoAndNameCont {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.photoAndName {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  gap: 16px;
}

.name {
  color: #fff;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.topFourHits {
  display: flex;
  flex-direction: column;
  gap: 8px;
}


.photo{
  height: 200px;
  width: 200px;
}

@media screen and (max-width:599px) {
  .photo{
    height: 102px;
    width: 102px;
  }
}