@import "../../../../styles//colors.scss";


.searchAndMapText {
    color: $PrimaryWhite;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}


.mapContainer {
    display: flex;
    gap: 8px;
    max-width: 402px;
    width: 100%;
    align-items: center;
}


.round {
    border-radius: 24px;
}


.square{
    border-radius: 4px;
}