.wrapper {
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   padding: 32px;
}
.wrapper  h1{
    font-size: 20px;
}
.wrapper img{ 
    width: 100%;
    height: 500px;
}
.wrapper p{
    color: white;
    font-size: 14px;
}
.spinWrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}
.mainWrapper {
    width: 100%;
    height: 100%;
}