.container {
    width: 100%;
    height: 299px;
    border-radius: 16px;
    display: flex;
}

.content {
    display: flex;
    flex-direction: column;
    gap: 8px;
    flex: 1;
    height: 100%;
    justify-content: center;
    align-items: center;
}

.trendHitsContrainer {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 100%;
}

.fillTextButton {
    max-width: 252px;
    width: 100%;
}

.forBgImage {
    flex: 1;
    height: 100%;
    background: no-repeat right 23px bottom;
    border-radius: 0px 0px 16px 0px;
}

// For Tablet

@media screen and (min-width: 711px) and (max-width: 1023px) {
    .container {
        width: 100%;
        height: 299px;
        border-radius: 16px;
        display: flex;
        justify-content: center;
        align-items: center;
    }
}

@media screen and (min-width: 600px) and (max-width: 710px) {
    .container {
        width: 100%;
        height: 299px;
        border-radius: 16px;
        display: flex;
        justify-content: center;
        align-items: center;
    }
}

// For Mobile

@media screen and (max-width: 599px) {
    .container {
        width: 100%;
        height: 138px;
        border-radius: 16px;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .text {
        font-size: 20px;
        font-weight: 500;
    }

    .year {
        font-size: 40px;
        font-weight: 600;
    }
    .fillTextButton {
        max-width: 107px;
    }
}
