.container {
    border-radius: 16px;
    display: flex;
    justify-content: flex-start;
    background-size: 100% 100%;
    transition: background-image 0.5s ease-in-out;
    min-height: 300px;
}

.trendHitsContainer {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    margin: 52px 0 52px 30px;
    gap: 12px;
}

.button {
    width: 100%;
}

.titles {
    color: #fff;
    font-style: normal;
    font-weight: 800;
    text-transform: uppercase;
    font-size: 48px;
}

.titleContainer {
    max-width: 200px;
}

@media screen and (max-width: 450px) {
    .trendHitsContainer {
        margin: 52px 0 52px 10px;
    }

    .titles {
        font-size: 24px;
        font-weight: 700;
    }

    .titleContainer {
        max-width: 120px;
    }
}

@media screen and (max-width: 599px) {
    .titles {
        font-size: 32px;
        font-weight: 700;
    }

    .container {
        max-height: 137px;
    }

    .trendHitsContainer {
        margin: 52px 0 52px 20px;
    }
}

@media screen and (min-width: 600px) and (max-width: 1023px) {
    .container {
        max-height: 400px;
    }
}

@media screen and (min-width: 1024px) and (max-width: 1250px) {
    .container {
        max-height: 273px;
    }

    .trendHitsContainer {
        margin: 52px 0 52px 30px;
    }
}

@media screen and (min-width: 1251px) and (max-width: 1499px) {
    .trendHitsContainer {
        margin: 52px 0 52px 70px;
    }
}

@media screen and (min-width: 1500px) and (max-width: 1699px) {
    .container {
        max-height: 400px;
    }

    .trendHitsContainer {
        margin: 52px 0 52px 70px;
    }
}

@media screen and (min-width: 1700px) {
    .container {
        max-height: 500px;
    }

    .trendHitsContainer {
        margin: 52px 0 52px 90px;
    }
}
