.container {
    border-radius: 16px;
    display: flex;
    justify-content: flex-start;
    background-size: 100% 100%;
    transition: background-image 0.5s ease-in-out; 
    min-height: 300px; 
}

.trendHitsContrainer {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    margin: 52px 0 52px 50px;
    gap: 12px;
}

.button {
    width: 100%;
}

.titles {
    color: #fff;
    font-style: normal;
    font-weight: 800;
    text-transform: uppercase;
    font-size: 48px;
}

.titleContainer {
    max-width: 150px;
}

@media screen and (max-width: 599px) {
    .titles {
        font-size: 32px;
        font-weight: 700;
    }
}
