@import "../../styles/colors.scss";
.albumChartContainer {
    background-color: $PrimaryBlackTone3;
    padding: 20px;
    border-radius: 16px;
}

.albumChart {
    display: flex;
    flex-direction: column;
    gap: 12px;
    border-radius: 8px;
}

.albumChartPhoto {
    border-radius: 12px;
}

.albumChartContainer:hover {
    background-color: $PrimaryGreyHover;
    transition: 1s;
}

.albumHits {
    color: #FFF;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.image {
    width: 100%;
}

@media screen and (max-width: 1334px) {
    .albumHits {
        font-size: 8px;
    }
}

