.general {
    border-radius: 8px;
    background: #000;
    padding: 8px 16px;
    max-width: 254px;
    position: absolute;
    top: 500px;
    left: 5000px; 
    z-index: 999;
}

.general {
    border-radius: 8px;
    background: #000;
    padding: 8px 16px;
    max-width: 254px;
    position: absolute;
    z-index: 999;
}


