.nameContainer {
    color: #FFF;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}


.autorContainer {
    color: #636363;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}