@import '../../styles/colors.scss';

.create {
    color: #fff;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    padding: 8px;
}

.create:hover {
    background-color: $PrimaryGreyHover;
    border-radius: 8px;
}

.container{
    display: flex;
    flex-direction: column;
    gap: 8px;
}
