@import '../../styles/colors.scss';

.title {
    color: $PrimaryWhite;
    font-size: 12px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.pink {
    color: $PrimaryBlueTone3;
    font-size: 12px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.profile {
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;
    justify-content: space-between;
}
