@media screen  and (max-width:599px) {
    .Header {
        display: none;
    }
}

@media screen and (min-width:600px) and (max-width:1023px) {
    .NavMobile {
        display: none;
    }
}

@media screen and (min-width:1024px) {
    .NavMobile {
        display: none;
    }
}
