@import '../../styles/colors.scss';

.mobileLogOut {
    padding: 32px 16px;
    width: 100%;
    height: calc(100vh - 15vh);
    overflow-x: hidden;
    background-color: $PrimaryBlackTone2;
    z-index: 99999;
}

.mobileLogOutName {
    width: 100%;
    border-radius: 8px;
    background-color: $PrimaryBlackTone3;
    padding: 8px 0px;
    display: flex;
    gap: 8px;
    align-items: center;
    margin: 0 auto;
}

.color {
    color: $PrimaryWhite;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.profile {
    color: $PrimaryWhite;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.profileBox {
    text-align: left;
}

.profileAndSearch {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.profileContainer {
    display: flex;
    flex-direction: column;
    gap: 12px;
    align-items: center;
}

.logOutButton {
    width: 100%;
    background-color: $PrimaryRed;
    border-radius: 8px;
    display: flex;
    align-items: center;
    justify-content: center;
    outline: none;
    border: none;
    padding: 8px 16px;
    color: $PrimaryWhite;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    margin: 0 auto;
}

.button {
    position: relative;
    display: flex;
    align-items: flex-end;
    height: 100%;
    margin-bottom: 130px;
}

.profileAndButton {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
}

.navMobile {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
}
